.add-board-members {
    position: fixed;
    top: 50%;
    z-index: 100;
    right: 50%;
    background-color: white;
    max-width: calc(100vw - 24px);
    min-width: 600px;
    min-height: 200px;
    padding: 20px 0px 0px 24px;
    box-shadow: 0px 0px 1px 1px rgb(0 0 0 / 10%);
    transform: translate(50%, -50%);
    color: var(--ds-text, #172b4d);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    border-radius: 3px;
    font-family: "segoe-regular";

    .member-image {
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        margin-inline-end: 0.5rem;
        height: 2rem;
        aspect-ratio: 1/1;
        box-shadow: inset 0px -1px 0px rgb(0 0 0 / 33%);
    }

    .member-initials {
        @include btn($type: "initials");
        height: 2rem;
        aspect-ratio: 1/1;
        margin-inline-end: 0.5rem;
        box-shadow: inset 0px -1px 0px rgb(0 0 0 / 33%);
    }

    .board-member {
        display: flex;
        align-items: center;

        button {
            margin-inline-start: 0.5rem;
            color: var(--ds-text, #172b4d);
        }
    }

    .search-results {
        position: absolute;
        z-index: 1000;
        background-color: #fafbfc;
        top: 97px;
        min-width: 280px;
        border-radius: 3px;
        box-shadow: var(--ds-shadow-overlay,
                0 8px 16px -4px rgba(9, 30, 66, 0.2509803922),
                0 0 0 1px var(--ds-border, rgba(9, 30, 66, 0.0784313725)));
        margin: 4px;
        right: 89px;
        padding: 4px;
    }

    .searched-member {
        padding: 8px 0;
        background-color: #fafbfc;

        &:hover {
            cursor: pointer;
            filter: brightness(95%);
        }
    }

    .board-members {
        max-height: 488px;
        padding-right: 20px;
        margin-right: 4px;
        overflow-y: auto;
        display: flex;
        gap: 5px;
        flex-direction: column;
        margin-bottom: 1px;

        >:last-child {
            margin-bottom: 16px;
        }

        .member-user {
            padding-top: 16px;
        }
    }
}

.add-board-members-header {
    display: flex;
    margin: 0px 0px 16px 0px;
}

.add-board-members-search {
    display: flex;
    margin: 0px 24px 20px 0px;

    input {
        margin: 0 8px 0 0;
        padding: 6px 4px 6px 12px;
        width: 100%;
        background-color: var(--ds-background-input, #fff);
        box-shadow: inset 0 0 0 2px var(--ds-border-input, #dfe1e6);
        border: none;
        border-radius: 3px;
        flex-grow: 1;
    }

    button {
        font-size: 14px;
        height: 40px;
        background-color: var(--ds-background-brand-bold, #0079bf);
        color: var(--ds-text-inverse, #fff);
        border-radius: 3px;
        padding: 6px 12px;
        font-weight: 400;
        line-height: 20px;
    }
}

.multiselect-tag.is-user {
    padding: 5px 8px;
    border-radius: 22px;
    background: #35495e;
    margin: 3px 3px 8px;
}

.multiselect-tag.is-user img {
    width: 18px;
    border-radius: 50%;
    height: 18px;
    margin-right: 8px;
    border: 2px solid #ffffffbf;
}

.multiselect-tag.is-user i:before {
    color: #ffffff;
    border-radius: 50%;
}

.user-image {
    margin: 0 6px 0 0;
    border-radius: 50%;
    height: 22px;
}