.group-list {
    display: flex !important;
    height: 100%;
    padding: 0.5rem 0;
    gap: 8px;
    overflow-y: hidden;
    overflow-x: scroll;

    & *:not(.fa-solid):not(.fa-regular):not(.trellicons) {
        font-family: "segoe-regular";
    }
    color: $textDark;

    // &.isDark {

    //         color: $textLight;

    // }

    // width: 100%;

    // #group-details{
    //     // height: fit-content;
    //     overflow-y: scroll;
    //     border: 3px solid blue;
    // }

    & *:not(.fa-solid):not(.fa-regular):not(.trellicons) {
        font-family: "segoe-regular";
    }

    .add-new-list {
        width: 272px;

        .x-icon {
            font-size: rem(16px);
            color: $clr9;

            &:hover {
                color: $colorP10;
            }
        }

        .open-add-list {
            background-color: $clr14;
            min-width: 272px;
            padding: rem(10px) rem(8px);
            color: $textDark;
            text-align: left;
            border-radius: 3px;
            margin: 0 8px 0 4px;

            &:hover {
                background-color: rgba(78, 78, 78, 0.856);
            }
            &.isDark {
                color: $textLight;
            }
        }
    }

    form {
        background-color: $clr12;
        gap: rem(8px);

        .add-list-btns {
            margin: 0 !important;
        }

        height: fit-content;
        flex-wrap: wrap;

        button {
            width: fit-content;
            margin: 0;
            border-radius: 3px;

            &.add-list-btn {
                font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
                    "Open Sans", "Helvetica Neue", sans-serif;
                font-size: rem(14px) !important;
                color: $clr12;
                background-color: $clr3;
                padding: rem(6px) rem(12px);

                &:hover {
                    filter: brightness(0.8);
                }
            }
        }
    }
}

.group-list-form {
    padding: rem(10px) !important;
    border-radius: 3px;
    width: rem(272px);

    input {
        padding: rem(8px) rem(12px);
        margin: 0;
        width: 100%;
        resize: none;
        border: none;
        border-radius: 3px;
        outline-color: $clr2;
    }

    button {
        margin-right: rem(15px) !important;
    }
}

.open-enter-active {
    transition: all 0.3s ease-out;
}

.open-leave-active {
    transition: all 0.5s cubic-bezier(1, 13, 20, 1);
}

.open-enter-from,
.open-leave-to {
    transform: translateY(5px);
    opacity: 0;
}

.close-leave-active {
    transition: all 0.3s ease-in-out;
}

.close-enter-active {
    transition: all 0.5s cubic-bezier(2, -10, 0.2, -5);
}

.close-enter-from {
    transform: translateY(-15px);
}

.close-leave-to {
    transform: translateY(5px);
    opacity: 0;
}
