.mapdiv[data-v-177d06e3] {
    width: 99%;
    height: 99%;

    border-radius: 3px;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}

.gm-style-iw-c {
    width: 200px;
    columns: $textDark;
    // line-height: 2rem;
    text-align: center;

    h1 {
        margin-bottom: 0.5rem;
    }
}
