// Colors

$clr14: #484848e5;
$clr13: #172b4d;
$clr12: #ebecf0;
$clr11: #faf3c0;
$clr10: #4bbf6b;
$clr9: #838c91;
$clr8: #cd5a91;
$clr7: #89609e;
$clr6: #b04632;
$clr5: #519839;
$clr4: #d29034;
$clr3: #0079bf;
$clr2: #026aa7;
$clr1: #fafbfc;

$taskDetailsBGC: #f4f5f7;
$taskDetailsBtn: #eaecf0;

$textDark: #172b4d;
$txtMedium: #68758c;
$textLight: white;

$userBgc1: #00875a;
$userBgc2: #de350b;
$userBgc3: #0756cd;

//colorPallete

$colorP1: #7bc86c;
$colorP2: #f5dd29;
$colorP3: #ffaf3f;
$colorP4: #ef7564;
$colorP5: #cd8de5;
$colorP6: #5ba4cf;
$colorP7: #29cce5;
$colorP8: #6deca9;
$colorP9: #ff8ed4;
$colorP10: #172b4d;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
